body
{
    margin: 0;
    padding: 0;
}

body,
input,
button
{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
}

#main
{
    margin: 20px;
    text-align: center;
}

.title
{
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

.add-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form */
.add
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add-input,
.elm-datepicker--input
{
    width: 200px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border: solid 1px #689CD2;
}

.elm-datepicker--container
{
    display: inline-block;
}

.add-button
{
    padding: 5px;
    cursor: pointer;
    border: 1px solid #689CD2;
    border-radius: 4px;
    outline: none;
    background: #689CD2;
    align-self: center;
    color: #000;
}

.add-button:hover
{
    background: #298cf3;
}

.add-button[disabled]
{
    cursor: default;
    opacity: 0.5;
    background: #689CD2;
}

/*timer*/
.timer
{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border: solid 1px #689CD2;
    box-shadow: 5px 5px 10px #dae2ff;
}

.timer__name
{
    font-size: 18px;
}

.timer__left
{
    font-size: 18px;
    font-weight: bold;
}

.timer__new
{
    font-style: italic;
    position: absolute;
    right: 20px;
    padding: 5px 10px;
    cursor: pointer;
    background: #dae2ff;
    top: 0;
    right: 0;
    opacity: 0.5;
}

.timer__new:hover
{
    opacity: 1;
}
